$font-stack:    Helvetica, sans-serif;
$primary-color: #333333;

#shalimar-home{

  .pad_b_0 {
  	padding-bottom: 0px;
  }
  .pad_b_20 {
  	padding-bottom: 20px;
  }
  .pad_t_20 {
  	padding-top: 20px;
  }
  .pad_0 {padding: 0px;}
  .pad_5 {
  	padding: 5px;
  }
  .mar_b_0 {
  	margin-bottom: 0px;
  }

  .pos_rel {
  	position: relative;
  }
  .pos_abs {
  	position: absolute;
  }

  .height_30 {height:30px;}
  .height_15 {height:15px;}

  .stretch { height:100%; width:100%}

  .vcenter {
  	display: inline-block;
  	vertical-align: middle;
  	float:none;
  }

  #jumbotron {
  	max-height:450px;
  	overflow: hidden;


	  #jumbotron-img {
	  	-webkit-filter: grayscale(85%);
		-moz-filter: grayscale(85%);
		-o-filter: grayscale(85%);
		-ms-filter: grayscale(85%);
		filter: grayscale(85%); 
	  }

	  #jumbotron-logo-corner {
	  	position: absolute;
	  	top: 5%;
	  	right: 2%;
	  	width:20%;
	  }
	  
	  #jumbotron-logo-middle {
	  	position: absolute;
	  	bottom: 20px;
	  	width: 40%;
	  	left: 30%;
	  }
	}

	#services {
		.tile {
			height: 200px;
			background-repeat: no-repeat;
			margin-bottom: 20px;
			transition: 0.2s -webkit-filter linear;
			-webkit-transition: 0.2s -webkit-filter linear;
			background-size: cover;
			-webkit-filter: grayscale(80%) blur(1px);
			-moz-filter: grayscale(80%) blur(1px);
			-o-filter: grayscale(80%) blur(1px);
			-ms-filter: grayscale(80%) blur(1px);
			filter: grayscale(80%) blur(1px); 

		}
		.tile:hover {
			-webkit-filter: grayscale(20%);
			-moz-filter: grayscale(20%);
			-o-filter: grayscale(20%);
			-ms-filter: grayscale(20%);
			filter: grayscale(20%); 
			cursor: pointer;
		}
		.services-title-container {
			width: 100%; 
			font-size: 2em;
			color: #ffffff;
			text-shadow: 1px 1px #333;
			position: absolute;
			top: 40%;
		}
		.services-title-container:hover {
			cursor: pointer;
		}
		.service-desc {
			margin-bottom: 15px;
		}
	}

	#footer {
		background-color: #731B19;
		min-height: 100px;
		color: white;
		font-size: 16px;

	}

	#modal {
		z-index: 100;
		position: fixed;
		top: 0px; left:0px;
		width: 100%;
		height: 100vh;
		background-color: rgba(0,0,0,0.8);

		#text-box {
			background-color: white;
			width: 300px;
			margin-top: 30vh;
			margin-left: auto;
			margin-right: auto;
			padding: 15px;

			div#modal-text {
				overflow: scroll;
				height: 150px;
				width: 100%;
				padding-top: 5px;
				padding-bottom: 5px;
				margin-bottom: 10px;
			}
		}

	}
}
